<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjetIGWIN.Properties.Settings.BdCompilationConnectionString"
            connectionString="Data Source=DEOGRACE-PC\SQLEXPRESS;Initial Catalog=BdCompilation;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>